<div id="background"></div>
<header>
    <h1>OTTER</h1>
    <h2>Orbital Twitter Traffic Explorer & Repeater</h2>
 </header>

  <div id="map"></div>

  <table id="table">
    <tr>
      <td width="65%" style="color: #55acee" valign="top" align="left">
        <p-dataTable #dt [value]="tweets" [loading]="loading">
        <p-header>{{this.place}}</p-header>
        <p-column field='user' header="User:" [bodyStyle]="{'text-align': 'left'}"
          [headerStyle]="{'font-weight': '900', 'width': '20%'}"></p-column>
        <p-column field='tweet' header="Status:" [bodyStyle]="{'text-align': 'left'}"
          [headerStyle]="{'font-weight': '900', 'width': '80%'}"></p-column>
        </p-dataTable>
      </td>
    </tr>
  </table>

</body>
</html>
